<%= form_for(@mentor_reg) do |f| %>
  <% if @mentor_reg.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@mentor_reg.errors.count, "error") %> prohibited this mentor from being saved:</h2>

      <ul>
      <% @mentor_reg.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-4">

      <div class="field">
        <%= f.label :first_name %><br>
        <%= f.text_field :first_name, :class => 'form-control' %>
      </div>
      <div class="field">
        <%= f.label :last_name %><br>
        <%= f.text_field :last_name, :class => 'form-control' %>
      </div>
      <div class="field">
        <%= f.label :email %><br>
        <%= f.text_field :email, :class => 'form-control' %>
      </div>
      <div class="field">
        <%= f.label :gender %><br>
        <%= f.text_field :gender, :class => 'form-control' %>
      </div>
      <div class="field">
        <%= f.label :phone %><br>
        <%= f.text_field :phone, :class => 'form-control' %>
      </div>
      <div class="field">
        <%= f.label :city %><br>
        <%= f.text_field :city, :class => 'form-control' %>
      </div>
      <div class="field">
        <%= f.label :website %><br>
        <%= f.text_field :website, :class => 'form-control' %>
      </div>
      <div class="field">
        <%= f.label :twitter %><br>
        <%= f.text_field :twitter, :class => 'form-control' %>
      </div>
      <div class="field">
        <%= f.label :linkedin %><br>
        <%= f.text_field :linkedin, :class => 'form-control' %>
      </div>
      <div class="field">
        <%= f.label :work %>
        <%= f.text_field :work, :class => 'form-control' %>
      </div>
      <div class="field">
        <%= f.label :job %>
        <%= f.text_field :job, :class => 'form-control' %>
      </div>
      <div class="field">
        <%= f.label :bio %>
        <%= f.text_area :bio, :class => 'form-control' %>
      </div>
      <div class="field">
        <%= f.label :why_involved %>
        <%= f.text_area :why_involved, :class => 'form-control' %>
      </div>
      <div class="field">
        <%= f.label :emergency_contact %>
        <%= f.text_field :emergency_contact, :class => 'form-control' %>
      </div>
      <div class="field">
        <%= f.label :references %>
        <%= f.text_area :references, :class => 'form-control' %>
      </div>
      <div class="field">
        <%= f.check_box :permission_to_contact_references %>
        <%= f.label :permission_to_contact_references %>
      </div>
       <div class="field">
        <%= f.check_box :first_aid_certified %>
        <%= f.label :first_aid_certified %>
      </div>

      <br>

      <%= render 'events/add_events' %>

      <br>

      <div class="actions">
        <%= f.submit :class => 'btn btn-success' %>
      </div>
    </div>
  </div>
<% end %>