<h1>Welcome to your dashboard</h1>
<br>


  <div class="col-md-4">
  	<div class="dashboardBox">
  		Number of Mentors: <%= Mentor.count %>
  		<br>
  		Number of Events: <%= Event.count %>
  		<br>
		Last event: <%= Event.last.topic %>
		<br>
		<br>
		Upcoming Events:
		<% Event.upcoming.order('event_date').limit(2).each do |event| %>
			<li><%= event.topic %> <%= event.event_date %></li>
		<% end %>
	</div>
  </div>
  
  <div class="col-md-4">
  	<div class="dashboardBox">
  		Top mentors
	<% @mentors.order('events_count').reverse_order.limit(2).each do |mentor| %>
		<li><%= mentor.first_name %><%= mentor.events.size %></li>
	<% end %>
	</div>
  </div>

  <div class="col-md-4">
  	<div class="dashboardBox">
  	# Female mentors: <%= Mentor.gendered('f').count %>
		<br>
	# Male mentors: <%= Mentor.gendered('m').count %>
</div>
  </div>
