<h1>Events <button type="button" class="btn btn-success"><%= link_to 'Add New', new_event_path %></button> </h1>

<form class="form-inline" role="form">
  <div class="form-group pull-right">
    <%= search_form_for @q do |f| %>
      <%= f.search_field :topic_cont, :placeholder => "Topic", class: "form-control search" %>
      <%= f.submit class: "btn btn-default" %>
    <% end %>
  </div>
</form>

<br>
<br>

<table class="table homeTable">
  <thead>
    <tr>
      <th><%= sort_link @q, :category, "Category" %></th>
      <th><%= sort_link @q, :age_group, "Age Group" %></th>
      <th><%= sort_link @q, :topic, "Topic" %></th>
      <th><%= sort_link @q, :event_date, "Event Date" %></th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= event.category %></td>
        <td><%= event.age_group %></td>
        <td><%= event.topic %></td>
        <td><%= event.event_date %></td>
        <td><button type="button" class="btn btn-info pull-right"><%= link_to 'Profile', event %></button></td>
        <td><button type="button" class="btn btn-warning pull-right"><%= link_to 'Edit', edit_event_path(event) %></button></td>
        <td><button type="button" class="btn btn-danger pull-right"><%= link_to 'Delete', event, method: :delete, data: { confirm: 'Are you sure?' } %></button></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

