<p id="notice"><%= notice %></p>

<p>
  <strong>Category:</strong>
  <%= @event.category %>
</p>

<p>
  <strong>Age group:</strong>
  <%= @event.age_group %>
</p>

<p>
  <strong>Topic:</strong>
  <%= @event.topic %>
</p>

<p>
  <strong>Event date:</strong>
  <%= @event.event_date %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>

<table class="table">
	<thead>
		<tr>
			<th> First Name </th>
			<th> Last Name </th>
			<th> Email </th>
			<th> Gender </th>
		</tr>
	</thead>

	<tbody>
		<% @event.mentors.each do |mentor| %>
			<tr>
				<td><%= mentor.first_name %></td>
				<td><%= mentor.last_name %></td>
				<td><%= mentor.email %></td>
				<td><%= mentor.gender %></td>
			</tr>
		<% end %>
	</tbody>

</table>