<h1> <%= @event.topic %> <%= link_to 'Edit', edit_event_path(@event), :class => 'btn btn-warning headerButton' %> </h1>

<br>

<p>
  <strong>Category:</strong>
  <%= @event.category %>
</p>

<p>
  <strong>Age group:</strong>
  <%= @event.age_group %>
</p>

<p>
  <strong>Topic:</strong>
  <%= @event.topic %>
</p>

<p>
  <strong>Event date:</strong>
  <%= @event.event_date %>
</p>

<br>
<br>

<table class="table">
	<thead>
		<tr>
			<th> First Name </th>
			<th> Last Name </th>
			<th> Email </th>
		</tr>
	</thead>

	<tbody>
		<% @event.mentors.each do |mentor| %>
			<tr>
				<td><%= mentor.first_name %></td>
				<td><%= mentor.last_name %></td>
				<td><%= mentor.email %></td>
			</tr>
		<% end %>
	</tbody>

</table>