<%= search_form_for @q do |f| %>
  <%= f.label :first_name_or_last_name_or_email_cont %>
  <%= f.search_field :first_name_or_last_name_or_email_cont %>
  <%= f.submit %>
<% end %>

<button type="button" class="btn btn-default pull-right"><%= link_to 'New Mentor', new_mentor_path %></button>

<h1>Mentors</h1>

<br>

<table class="table homeTable">
  <thead>
    <tr>
      <th><%= sort_link @q, :first_name, "First Name" %></th>
      <th><%= sort_link @q, :last_name, "Last Name" %></th>
      <th><%= sort_link @q, :gender, "Gender" %></th>
      <th><%= sort_link @q, :email, "Email" %></th>
      <th><%= sort_link @q, :first_aid_certified, "First Aid Certified?" %></th>
    </tr>
  </thead>

  <tbody>
    <% @mentors.each do |mentor| %>
      <tr>
        <td><%= link_to mentor.first_name, mentor %></td>
        <td><%= link_to mentor.last_name, mentor %></td>
        <td><%= mentor.gender %></td>
        <td><%= mentor.email %></td>
        <td><%= mentor.first_aid_certified %></td>
        <td><%= link_to 'Show', mentor %></td>
        <td><%= link_to 'Edit', edit_mentor_path(mentor) %></td>
        <td><%= link_to 'Destroy', mentor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
