<p id="notice"><%= notice %></p>

<p>
  <strong>First Name:</strong>
  <%= @mentor.first_name %>
</p>

<p>
  <strong>Last Name:</strong>
  <%= @mentor.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @mentor.email %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @mentor.gender %>
</p>

<p>
  <strong>First Aid Certified:</strong>
  <%= @mentor.first_aid_certified %>
</p>

<%= link_to 'Edit', edit_mentor_path(@mentor) %> |
<%= link_to 'Back', mentors_path %>

<br><br>
<table class="table">
	<thead>
		<tr>
			<th>Topic</th>
			<th>Category</th>
			<th>Age Group</th>
		</tr>
	</thead>
	<tbody>
		<% @mentor.events.each do |event| %>
			<tr>
				<td><%= event.topic %></td>
				<td><%= event.category %></td>
				<td><%= event.age_group %></td>
			</tr>
		<% end %>
	</tbody>
</table>


</p>