<%= form_for [:admin, @user] do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-4">
      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, :class => 'form-control' %>
      </div>
      <div class="field">
        <%= f.label :username %><br />
        <%= f.text_field :username, :class => 'form-control' %>
      </div>

      <div class="field">
        <%= f.label :password %><br />
        <%= f.password_field :password, :class => 'form-control'%>
      </div>

      <br>

      <div class="actions">
        <%= f.submit "Submit", :class => 'btn btn-success' %>
      </div>
    </div>
  </div>

<% end %>